.Rproj.user
.Rhistory
.RData
.Ruserdata
US Counties/.Rproj.user/FAF01DC5/pcs/files-pane.pper
*.pper
*.pper
US Counties/.Rproj.user/FAF01DC5/pcs/windowlayoutstate.pper
*.pper
US Counties/.Rproj.user/FAF01DC5/pcs/workbench-pane.pper
